@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --header-height: 5rem;
    /* COLOR */
    --main-color: skyblue;
    --black-color: blue;
    --white-color: #ffffff;
    /* FONT & TYOGRAPHY */
    --font-body:'Poppins', sans-serif;
    --font-title: 'Railway', sans-serif;

    --big-font-size: 3.5rem ;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
}
/* basic */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   border: none;
   outline: none;
   text-decoration: none;
}
html{
    scroll-behaviour: smooth;  
}
body{
    font-family: var(--font-body);
    font-size: var(--normal-font-size);
    color: var(--black-color);
    position: relative;
    overflow-x: hidden;
}
img{
    max-width: 100px;
    height: auto;
}

/* #home .slide img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
} */
.btn{
    display: inline-block;
    font-family: var(--font-title);
    border: 1px solid black;
    padding: 1rem 1.5rem;
    color: skyblue;
    background-color: rgb(234, 229, 229);
    font-size: var(--h2-font-size);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* Header section start */
.header{
    width: 100%;
    background-color: skyblue;
    padding: 1rem 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.jal{
    padding-left: 10px;
}
.head{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.header-container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    color: rgb(255, 255, 255);
    /* background-color: rgb(248, 249, 250);  */
    /* border: 2px solid blue; */
    text-align: center;
    padding: 90px;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: (--h1-font-size);
    text-transform: uppercase;
}
.logo{
    font-size: var(--h1-font-size);
    
    color: var(--main-color);
}
.logo span{
    font-weight: 200;
    color: var(--main-color);
    margin-left: 5px;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-left: 1rem;
}
.nav-link{
    font-size: var(--h3-font-size);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 0.5rem;
    transition: all 0.4s ease-in-out;
}
.nav-link:hover, .active{
    border-bottom: 2px solid var(--main-color);
}
.nav-toggle{
    display: none;
}
/* Header Section End */
/* Home section start */
.home{
    padding: 180px;
    padding-bottom: 50px;
}
.home .slide{
    width: 100%;
    height: 110vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}




/* Start media queries */
@media (max-width: 100%) {
    .nav{
        width: 0%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 100;
        transition: all 0.4s ease-in-out;
        padding-top: var(--header-height)
    }
    .nav-menu{
        display: block;
        text-align: center;
    }
    .nav-menu li{
        width: 100%;
        padding: 1.5rem 0;
        margin-left: 0;
    }
    .nav-link{
        font-size: var(--h2-font-size);
    }
    .nav-toggle{
        display: block;
        z-index: 100;
    }
    .nav-toggle i{
        font-size: var(--big-font-size);
    }
    .nav-toggle:hover i{
         color: var(--main-color);
    }
}
